<form name="body_head" action="/" method="POST">
	<div> <%= posts.scrhead %></div>
	<%= posts.comment %>
	<hr class="head_under">
</form>


<FORM name="main_form" method="post" action="/scr/101" >
<!--      <input type="hidden" name="_method" value="put">
-->
<TABLE width="640" align="center" border="0">
<TR>
<TD>
	
<BR>
<TABLE width="640" align="center" border="0">
<COL width="660" align="center">
<COL width="" align="center">
<TR>
<TD>
	<FIELDSET style="width:650" name="noname">
	<LEGEND align="left"><B><FONT>Operation status</FONT></B></legend>
	<TABLE width="" border="0">
		<COL width="510" align="center">
		<COL width="" align="center">
		<TR>
		<TD>
		<TABLE width="500"  border="1">
			<COL width="" align="center">
			<COL width="" align="center">
			<COL width="" align="center">
			<TR>
			<TH><FONT>AREA</FONT></TH>
			<TH><FONT>CURRENT</FONT></TH>
			<TH><FONT>UPDATE</FONT></TH>
		</TR>
		<TR>
		<TD><FONT size="3" color="red">
		<B><%= posts[0].scrhead %></B></FONT>
		</TD>
		<TD><FONT size="+1" color="blue"><%= posts.comment %></FONT>
		</TD>
		<TD>
		<SELECT name="sel01" tabindex="1" >
			<OPTION value="a">active</OPTION>
			<OPTION value="p">pause</OPTION>
		</SELECT>
		</TD>
		</TR>

		<TR>
		<TD><FONT size="3">
		<B><%= posts.scrhead %></B></FONT></TD>
		<TD><FONT size="+1" color="blue">aaaa</FONT>
		</TD>
		<TD>
		<SELECT name="sel2" tabindex="2" >
			<OPTION value="a">active</OPTION>
			<OPTION value="p">pause</OPTION>
		</SELECT>
		</TD>
		</TR>

		<TR>
		<TD><FONT size="3"><B>bbbb</B></FONT></TD>
		<TD><FONT size="+1" color="blue">
			 <b>vvvv</b></FONT></TD>
		<TD>
		<SELECT name="sel02" tabindex="3" >
			<OPTION value="a">active</OPTION>
			<OPTION value="p">pause</OPTION>
		</SELECT>
		</TD>
		</TR>
		</TABLE>
		</TD>
		<TD rowspan="2" valign="bottom">
		<INPUT type="submit" name="update" 
		style="width:100;height:30px" value="UPDATE" tabindex="11" >
		</TD>
		<TD rowspan="2" valign="bottom">
		<INPUT type="submit" name="refresh" color='blue' 
		style="width:100;height:30px" value="REFRESH" tabindex="11" >
		</TD>
		</TR>
		</TABLE>
		</FIELDSET>
	</TD>
</TR>
</TABLE>

</FORM>